* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    background-color: black;
}

/* ------------------ LOGO ------------------ */

.logo h1 {
    float: left;
    margin: 25px 56px;
    color: #fff;
}

.logo h1 a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

/* ------------------ MENU ------------------ */

nav {
    position: fixed;
    width: 100%;
    background: black;
    height: 100px;
    z-index: 10;
}

nav ul {
    list-style: none;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin-top: 20px;
    transition: 1s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    margin-right: 13px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6em;
}

.menu-icon {
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 25px 50px;
    cursor: pointer;
    color: #fff;
    display: none;
}

/* ------------------ SLIDER ------------------ */

.carousel-inner img {
    width: 100%;
}

.carousel-indicators {
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    top: 13%;
}

.carousel-caption h2 {
    font-size: 9em;
    line-height: 1.2em;
    text-align: left;
}

.carousel-caption p {
    font-size: 3.5em;
    text-align: left;
}

/* ------------------ DRUGA STRONA ------------------ */

.images2 {
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

img.picture1 {
    width: 100%;
    height: auto;
}

h4.caption1 {
    color: white;
    font-size: 11em;
}

h5.caption1 {
    color: white;
    font-size: 4em;
}

.slide2 .position1 {
    padding-top: 20%;
}

/* ------------------ TRZECIA STRONA ------------------ */

.images3 {
    background: url(../images/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

h4.caption2 {
    color: black;
    font-size: 13em;
}

h5.caption2 {
    color: black;
    font-size: 4em;
}

.slide3 .position2 {
    position: relative;
    top: 40%;
}

/* ------------------ CZWARTA STRONA ------------------ */

.picture {
    width: 100%;
}

.border {
    border-bottom: 1px solid gray;
}

.text h5 {
    color: white;
    font-size: 1.8em
}

.text p {
    color: #AAAAAA;
    font-size: 1.5em
}

.text .time p {
    color: #AAAAAA;
    font-size: 1.1em
}

.image {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 2%;
}

/* ------------------ PIĄTA STRONA ------------------ */

.images5 {
    background-image: url("../images/5.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.newsletter h5 {
    font-size: 6.4em;
    color: white;
}

.newsletter p {
    color: white;
    font-size: 2.8em;
    padding-top: 10px;
    padding-bottom: 60px;
}

.newsletter {
    color: white;
    text-align: center;
    padding: 20px;  
    padding-top: 200px;
}

form .Email {
    height: 75px;
    width: 400px;
    border: none;
}

.Email::placeholder {
    padding: 30px;
    font-size: 1.4em;
    color: #AAAAAA;
}

form button {
    height: 76px;
    width: 100px;
    background-color: white;
    border-bottom: none;
    border-right: none;
    border-top: none;
    margin-left: -3px;
}

form .Send .arrow {
    
    color: #AAAAAA;
}

/* ------------------ STOPKA ------------------ */

.slide6 {
    background-color: #1A1A1A;
    height: auto;
    width: auto;
}

.fr1 h2 {
    font-size: 3.5em;
}

.LINKS, .INFO, .GUIDE, .SOCIAL, h2 {
    font-size: 1.6em;
    margin: 0;
}

.LINKS, .INFO, .GUIDE, .SOCIAL, p, ul a {
    font-size: 1.6em;
}

.fr1 a {
    font-size: 1em;
}

.fr1 {
    color: white;
}

.fr1 h2 {
    line-height: 2.8;
}

.fr1 p {
    color: #AAAAAA;
}

.fr1 .margin {
    margin-bottom: 20px;
}

.fr1 .margin2 {
    margin-bottom: 5px;
}

.fr1 p a {
    text-decoration: none;
    color: white;
}

.LINKS {
    color: white;
}

.LINKS h2 {
    color: white;
    line-height: 3;
}

.LINKS ul li{
    list-style: none;
}

.INFO {
    color: white;
}

.INFO h2 {
    color: white;
    line-height: 3;
}

.INFO ul li {
    list-style: none;
}

.GUIDE {
    color: white;
}

.GUIDE h2 {
    color: white;
    line-height: 3;
}

.GUIDE ul li {
    list-style: none;
    color: white;
}

.GUIDE, .INFO, .LINKS,  ul li a {
    color: white;
    text-decoration: none;
}

.SOCIAL {
    color: white;
    margin-bottom: 30px;
}

.SOCIAL h2 {
    line-height: 3;
}

footer .community .fa-facebook-f {
    font-size: 40px;
    text-align: center;
    color: white;
}

footer .community .fa-twitter {
    font-size: 40px;
    margin-left: 12px;
    color: white;
}

footer .community .fa-instagram {
    font-size: 40px;
    margin-left: 12px;
    color: white;
}

footer .community .fa-facebook-f:hover {
    cursor: pointer;
    color: #3b5999;
    transform: scale(1.7);
}

footer .community .fa-twitter:hover {
    cursor: pointer;
    color: #55acee;
    transform: scale(1.7);
}

footer .community .fa-instagram:hover {
    cursor: pointer;
    color: #e4405f;
    transform: scale(1.7);
}

ul li a:hover {
    color: blue;
}

.fr1 a:hover {
    color: blue;
    text-decoration: underline;
}



/* ------------------ MEDIA ------------------ */

@media (max-width: 992px) {
    
    .slide6 {
        text-align: center;
    }
    
    .carousel-caption {
        position: absolute;
        top: 30%;
    }

    .carousel-caption h2 {
        font-size: 6em;
        line-height: 1.1em;
        text-align: center;
    }

    .carousel-caption p {
        font-size: 2.5em;
        text-align: center;
    }
    
    h4.caption1 {
        color: white;
        font-size: 8em;
        text-align: center;
    }

    h5.caption1 {
        color: white;
        font-size: 2.5em;
        text-align: center;
    }

    .slide2 .position1 {
        padding-top: 10%;
        margin-bottom: 10%;
    }
    
    h4.caption2 {
        color: black;
        font-size: 8em;
        text-align: center;
    }

    h5.caption2 {
        color: black;
        font-size: 2.5em;
        text-align: center;
    }

    .slide3 .position2 {
        position: relative;
        top: 40%;
    }
    
    .text h5 {
        color: white;
        font-size: 3.6em
    }

    .text p {
        color: #AAAAAA;
        font-size: 2em
    }

    .text .time p {
        color: #AAAAAA;
    }
    
    .text {
        padding-left: 2%
    }
    
    .image {
        width: 30%;
        margin-bottom: 4%;
    }
}



@media(max-width: 768px) {    
   
    .logo {
        position: fixed;
        top: 0;
    }
    
    nav ul {
        max-height: 0px;
        background: black;;
    }

    .showing {
        max-height: 290px;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 0px;
        text-align: center;
    }

    .menu-icon {
        display: block;
        font-size: 1.2em;
    }
    
    .logo h1 {
        font-size: 2em
    }
    
    nav ul li a {
        font-size: 1.3em;
    }
    
    .footer .SOCIAL .fa-facebook-f {
        font-size: 2.5em;
        text-align: center;
        color: white;
    }

    .footer .SOCIAL .fa-twitter {
        font-size: 2.5em;
        margin-left: 15px;
        color: white;
    }

    .footer .SOCIAL .fa-instagram {
        font-size: 2.5em;
        margin-left: 15px;
        color: white;
    }
    
    .slide6 {
        text-align: center;
    }
}



@media (max-width: 576px) {
    
    .newsletter h5 {
        font-size: 5em;
        color: white;
    }

    .newsletter p {
        color: white;
        font-size: 2.4em;
        padding-top: 10px;
        padding-bottom: 35px;
    }
    
    .newsletter {
        padding: 20px;  
        padding-top: 200px;
    }

    form .Email {
        height: 65px;
        width: 190px;
    }

    .Email::placeholder {
        padding: 30px;
        font-size: 1.4em;
    }

    form button {
        height: 66px;
        width: 75px;
        margin-left: -3px;
    }
    
    .carousel-caption {
        position: absolute;
        top: 37%;
    }

    .carousel-caption h2 {
        font-size: 3.5em;
        line-height: 1.1em;
        text-align: center;
    }

    .carousel-caption p {
        font-size: 1.4em;
        text-align: center;
    }
}